<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>723028639669-4gfs13mmjkam6a7qum29mkvpcdtb689r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723028639669-4gfs13mmjkam6a7qum29mkvpcdtb689r</string>
	<key>API_KEY</key>
	<string>AIzaSyDoIhAO5E33xkSqa1F9GV6qZws-zHfiVc4</string>
	<key>GCM_SENDER_ID</key>
	<string>723028639669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shayegh.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-64ff6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-64ff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:723028639669:ios:a2c56bdb301e1d71</string>
	<key>DATABASE_URL</key>
	<string>https://chatty-64ff6.firebaseio.com</string>
</dict>
</plist>